.acf-postbox{
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.postbox-header{
    background-color: #e2eef3;
}